@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Dosis:wght@700&family=Heebo:wght@100..900&family=MuseoModerno:ital,wght@0,700;1,700&family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}
body {
  background-color: #f3f3f3;
}
button {
  width: 140px;
  height: 43px;
  border-radius: 3px;
  border: 1.5px solid black;
  background-color: transparent;
  cursor: pointer;
}
h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 66.75px;
}
a {
  border: none;
  color: rgb(92, 92, 92);
}
.p_size {
  font-size: 15px;
  font-weight: 400;
  line-height: 25.9px;
  width: 475px;
  margin-top: 7px;
  margin-bottom: 20px;
  width: 75%;
}
.glass {
  /* From https://css.glass */
  background: rgba(113, 179, 198, 0.55);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(113, 179, 198, 0.37);
  width: 129px;
  height: 149px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  font-weight: 600;
  line-height: 35px;
  font-size: 25px;
}

/*contener*/

.contener {
  width: 98%;
  height: 100vh;
  margin: auto;
  display: flex;
  background-image: url(assets/MANU\ BAR.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.contener .head {
  background-color: #002a32;
  flex: 10%;
  display: flex;
  flex-direction: column;
}
.contener .head .img {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contener .head .logo {
  flex: 1;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}
.contener .body {
  flex: 85%;
}

.contener .body .top {
  width: 80%;
  height: 25px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.contener .body .top .left {
  display: flex;
  gap: 39px;
}
.contener .body .top .right {
  display: flex;
  gap: 35px;
}

.contener .body .text-and-img {
  display: grid;
  grid-template-columns: 4fr 5fr;
}
.contener .body .text {
  padding: 210px 95px;
}
.contener .body .text p {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 20px;
  line-height: 30.5px;
  letter-spacing: 4.5%;
  margin-bottom: 9px;
}
.contener .body .text button {
  margin-top: 18px;
}

.contener .body .ten-ten {
  text-align: center;
  margin-bottom: 55.7px;
}

.image {
  width: 100%;
  text-align: center;
}
.image img {
  width: 98%;
}

/*contener end*/

/* products */

.products {
  width: 80%;
  margin: auto;
  height: 958px;
  text-align: center;
  padding-top: 93px;
}

.products .navbar {
  display: flex;
  justify-content: space-around;
  align-items: first baseline;
  margin: 27px 0;
}
.products .status {
  width: 100%;
  height: 316px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.products .status .sofa {
  flex: 1;
  background-color: #f1f6f9;
}

.products .status .sofa .img_logo {
  display: grid;
  grid-template-columns: 5fr 1fr;
}
.products .status .sofa .img_logo img {
  margin: 70px 0 0 24px;
}

.products .status .sofa .two {
  background-color: #264a51;
  margin-top: 30px;
  margin-bottom: 7px;
}

.products .status .sofa .new {
  background-color: #71b3c6;
}

.products .status .sofa .size {
  color: #d4dce2;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products .status .sofa h5 {
  width: 85px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002a32;
  color: #fff;
  border-radius: 2px, 0px, 0px, 2px;
  margin-top: 32px;
}

.products .status .sofa .shop {
  display: flex;
  gap: 16px;
  padding: 15px 75px;
}
.products .status .sofa .shop p {
  background-color: #71b3c6;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.products .price {
  display: flex;
  margin: 12px 0 17px 0;
  justify-content: space-around;
}
.products .price .start {
  flex: 1;
}
/* products end */

/*  sale */

.sale {
  width: 100%;
  height: 735px;
  margin-top: 214px;
  background-image: url(assets/virender-singh-hE0nmTffKtM-unsplash\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 178px;
}
.sale .off {
  width: 577px;
  height: 384px;
  margin-left: 158px;
  text-align: center;
}
.sale .off .sale_off {
  font-weight: 800;
  font-size: 90px;
  text-align: center;
  color: #f3b705;
}
.sale .off h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 80.1px;
}
.sale .off .text {
  width: 65%;
  margin: auto;
  margin-top: 17px;
  text-align: center;
}
.sale .off .text button {
  margin-top: 24px;
}
/*  sale end*/

/*living_room*/

.living_room {
  width: 80%;
  height: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 120px;
  position: relative;
}
.living_room .glass {
  top: 65%;
  left: 46%;
}
.living_room .text {
  padding-top: 180px;
  text-align: center;
}
.living_room .text p {
  margin-left: 60px;
}
/*living_room end */

/*bed_room*/

.bed_room {
  width: 80%;
  height: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 120px;
  position: relative;
}
.bed_room .glass {
  top: 35%;
  left: 47%;
}
.bed_room .text {
  margin-top: 90px;
  text-align: center;
}
.bed_room .text p {
  margin-left: 60px;
}
/*bed_room end */
